body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background: #333333;
  height: 100vh;
}

h1 {
  color: white;
}

.btnPlay {
  background: linear-gradient(#ffaa77, #ff5500) !important;
}

.player-buttons {
  padding: 10px;
}

.player-buttons > .btn {
  margin: 10px;
}
